:root {
	--color-primary: #4D2619;
	--color-secondary: #E18135;
	--color-tertiary: #EDC55E;
	--color-highlight: #8B8861;
	--color-accent: #284B63;
	--color-background: #FBF1DA;
	--color-foreground: #241605;
}
