$linkLineSize: max(2px, 0.1em);

a {
  transition: all 0.3s ease;
  color: var(--color-accent);
  text-decoration-thickness: var(--link-textDecorationThickness, #{$linkLineSize});
  text-decoration-color: var(--link-textDecorationColor, currentColor);

  &:focus, &:hover {
    color: var(--color-highlight);
  }

  &:focus {
    border-radius: $linkLineSize;
    outline: $linkLineSize solid currentColor;
    outline-offset: $linkLineSize;
    text-decoration: none;
  }
}
