---
layout: default
---

{%- from "hero.njk" import hero with context -%}
{%- from "post-meta.njk" import postMeta with context -%}

<article>

  {{- hero(
      image=image,
      title=title
  ) -}}

  {{- postMeta(
      date=date,
      tags=tags
  ) -}}

  {{ content|safe }}

</article>
