---
layout: base
pageClass: posts
---

{%- from "hero.njk" import hero with context -%}

<article>
  {{- hero(
      banner=banner,
      date=date,
      tags=tags,
      title=title
  ) -}}

  {{ content|safe }}
</article>
