---
layout: default
---

{%- from "hero.njk" import hero with context -%}
{%- from "post-meta.njk" import postMeta with context -%}

<article>

  {{- hero() -}}

  {{- postMeta(
      date=date,
      tags=tags,
      title=title
  ) -}}

  {{ content|safe }}

</article>
