<div class="construction">
  <div class="container">
    <p><strong>Heads up!</strong> Yes, friends, this site is (as we said back in the ’90s) under construction. I’ve updated some of the architecture, but I’m going to be “designing in public”. If you spot anything weird, you are welcome to <a href="https://github.com/reedcodes/reedcodes/issues">open a ticket in the site’s repo!</a></p>
  </div>
</div>
