{%- from "post-meta.njk" import postMeta with context -%}

{%- macro hero(banner, date, excerpt, tags, teaser, title, url) -%}
  <div class="hero">

    {#- A page or post has the option to include an image banner, which is
        included for both full content or teasers.
    -#}
    {%- if banner -%}
      <div class="hero-image">
        <img src="{{- banner.source -}}" alt="{{- banner.alt -}}" width="{{- banner.width if banner.width else '300' -}}" height="{{- banner.height if banner.height else '300' -}}">
      </div>
    {%- endif -%}

    <div class="hero-text">
      {#- The title is the title of the page or post, but depending on where it
          is output, we may or may not want it to be the `h1` heading on the
          page. Let's check if it is part of the teaser -- the blurb that shows
          up on the homepage or in a list of posts. For that, the heading is an
          `h2`. Otherwise, this macro is used on the page or post iteself, and
          it output as an `h1`.
      -#}
      <{{- 'h2' if teaser else 'h1' -}}>

        {#- The url is the link to the blog post, but depending on where it is
            output, we may or may not want it to link anywhere from the page.
            Let's check if it is part of the teaser; if it is, output the link!
            If not, output no element. The teaser url is not used on pages.
        -#}
        {%- if teaser and url -%}
          <a href="{{- url -}}">
        {%- endif -%}

          {#- No matter what, let's output the title of the page or post. -#}
          {{- title -}}

        {#- Close that link if we've got one! -#}
        {%- if teaser and url -%}
          </a>
        {%- endif -%}

      {#- Output the closing tag for the heading element, tested above. -#}
      </{{- 'h2' if teaser else 'h1' -}}>

      {#- While all pages and posts have titles, and many will have image
          banners, not all will output meta details; these are only inluced on
          posts and pages that display posts, such as the blog page that lists
          posts in reverse chronological order. The post meta details can be
          set include the container for the hero text.
      -#}

      {{- postMeta(
          date=date,
          excerpt=excerpt,
          tags=tags,
          teaser=true,
          title=title,
          url=url
      ) -}}

    </div>
  </div>
{%- endmacro -%}
