{%- macro postMeta(date, excerpt, tags, teaser, title, url) -%}

  {#- Dates are included on posts, but not pages. Display the date below the
      header. Even though there will very most likely always be a date, we can
      check for one just to be on the safe side. When used here, the `natural`
      value for the custom date filter outputs the format "Day Month Year".
  -#}
  {%- if date -%}
    <p>{{- date|dateSimple('natural') -}}</p>
  {%- endif -%}

  {#- A blog post could have one or more tags associated with it. Tags are not
      used on pages.
  -#}
  {%- if tags -%}
    <dl>
      <dt>Tags</dt>
      {%- for tag in tags -%}
        {#- All posts are tagged with 'posts'. Because the main blog list page
            already lists _all_ posts, we don't have to output the tag 'posts'.
        -#}
        {%- if tag != 'posts' -%}
          <dd><a href="/blog/tag/{{ tag|slug }}/">{{ tag }}</a></dd>
        {%- endif -%}
      {%- endfor -%}
    </dl>
  {%- endif -%}

  {#- The excerpt is the blurb that shows up when a post is linked from another
      page, such as the list of blog posts. There may or may not be an excerpt!
      If there is, output it now. Excerpts are not used on pages.
  -#}
  {%- if teaser and exceprt -%}
    <p>{{- excerpt -}}</p>
  {%- endif -%}

{%- endmacro -%}
