@font-face {
  font-family: "Public Sans";
  font-weight: 100 1000;
  font-style: normal;
  src:
    url("/_assets/webfonts/PublicSans[wght].ttf") format("ttf");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 100 1000;
  font-style: italic;
  src:
    url("/_assets/webfonts/PublicSans-Italic[wght].ttf") format("ttf");
}
