.button {
	--button-backgroundColor: var(--color-primary);
	--button-color: var(--color-background);

	padding-block: 0.375em;
	padding-inline: 0.75em;
	border-radius: 0.5em;
	background-color: var(--button-backgroundColor);
	color: var(--button-color);
	
	&:hover, &:focus {
		box-shadow:
			0 0 0 0.125em var(--button-focus-innerColor, var(--button-color)),
			0 0 0 0.25em var(--button-focus-outerColor, var(--button-backgroundColor));
		background-color: var(--button-color);
		color: var(--button-backgroundColor);
	}
}
